<%= form_remote_tag :url => { :action => 'add_link' }, :update => 'link_cloud' %>
  <p><strong>add a new link:</strong> <label for="link_text">text</label>: <%= text_field :link, :text, {:size => 50 } %> <label for="link_url">url</label>: <%= text_field :link, :url, {:size => 50, :value => 'http://' } %> <%= submit_tag "add link" %></p>
</form>
